/* Universal Selector */
* {
    /* Box-sizing property allows inclusion of the padding and border in an element's total width and height */
    box-sizing: border-box;
    /* Padding property generates space around an element's content inside any defined borders */
    padding: 0;
    /* Margin property sets the margins for an element */
    margin: 0;
}

/* Body format */
body {
    /* background-color property defines the color of the background */
    background-color: #d9dcd6;
}

/* Header format */
.header {
    padding: 20px;
    /* Font-family property specifies a list of fonts to be used in order of priority */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    /* Color property defines the color of the text */
    color: #ffffff;
}

.header h1 {
    /* Display property specifies the display behavior of an element */
    display: inline-block;
    /* Font-size property sets the size of a font */
    font-size: 48px;
}

/* Coloring the "seo" within "Horiseon" */
.header h1 .seo {
    color: #d9dcd6;
}

/* Navigation bar within the header */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* List type for the unordered list in the navigation portion of the header */
.header nav ul {
    /* List-style-type property specifies the type of list-item marker in a list */
    list-style-type: none;
}

/* List display for the unordered list in the navigation portion of the header */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Defining margins for elements that float left */
.float-left {
    /* Float property specifies whether an element should float to the left, right, or not at all */
    float: left;
    margin-right: 25px;
}

/* Defining margins for elements that float right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Link Format for navigation bar */
a {
    color: #ffffff;
    /* Text-decoration property specifies the decoration added to any text */
    text-decoration: none;
}

/* Paragraph Format */
p {
    font-size: 16px;
}

/* Formatting the background image of the main content */
.hero {
    /* Height property sets the height of an element */
    height: 800px;
    /* Width property sets the width of an element */
    width: 100%;
    margin-bottom: 25px;
    /* Background-image property sets one or more background images for an element */
    background-image: url("../images/digital-marketing-meeting.jpg");
    /* Background-size property sets the size of an element's background image */
    background-size: cover;
    /* Background-position sets the starting position of a background image */
    background-position: center;
}

/* General content article format */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Specific Section Format within the content article */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Image formatting for content article */
.content img {
    /* Max-height property defines the maximum height of an element */
    max-height: 200px;
}

/* Header format for content article */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*General benefits aside format */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Section formatting for benefits aside */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
    /* Text-align property specifies the horizontal alignment of text in an element */
    text-align: center;
    display: block;
}

/* Header format for benefits aside */
.benefits h3 {
    margin-bottom: 10px;
}

/* Image format for benefits aside */
.benefits img {
    display: block;
    margin: 10px auto;
    /* Max-width property defines the maximum width of an element */
    max-width: 150px;
}

/* Footer formatting */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Text within the footer font size */
.footer h2 {
    font-size: 20px;
}
